Требования
    Операции над картой:
    - добавлять объекты
    - удалять объекты
    - перемещать объекты (задавать только точку назначения объекта, карта сама перемещает объект по своим алгоритмам симуляции)
    - выбирать объекты на заданном расстоянии от заданной точки
    - горизонтальная масштабируемость карты
